<div class="container">


  <div class="card">

    <h5 class="card-header shadow bg-primary info-color  text-center ">
      <strong class="text-white">New Token</strong>
    </h5><%= render 'form' %>


  </div>
</div>

<%= link_to 'Back To Rider', rider_path(@token.rider) %> |
<%= link_to 'Back To Tokens', tokens_path %> |