<div class="center jumbotron">
    <h1>Welcome Admins!</h1>
    <h3>
        This is the home page for the
        <a href="http://www.codethedream.org/">Ride Share</a> application.
    </h3>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>