<div class="center jumbotron" style="height: 290px;">
    <h1>Welcome Riders!</h1>
    <h3>
        This is the home page for the
        <a href="http://www.codethedream.org/">Ride Share</a> application.
    </h3>
</div>
