<div class="container" style="text-align: center; padding: 20px; margin-top: 20px; height: 135px; border: solid 3px #F6EABE;">
  <h1>FRUBER</h1>

  <div class="login-menu">
      <%= link_to "Login as Admin", new_user_session_path, :class => 'btn btn-danger', id: "admin-login" %>
      <%= link_to "Login as Rider", new_rider_session_path, :class => 'btn btn-danger', id: "rider-login" %>
  </div>

</div>
