<div class="container" style="text-align: center; padding: 15px; margin-top: 15px; height: 150px; border: solid 3px #F6EABE;">
  <h1 class="app-name">RIDE SHARE</h1>

  <div class="login-menu">
      <%= link_to "Login as Admin", new_user_session_path, :class => 'btn btn-danger', id: "admin-login" %>
      <%= link_to "Login as Rider", new_rider_session_path, :class => 'btn btn-danger', id: "rider-login" %>
  </div>

</div>
