<div class="container" id="welcome">
  <h1 class="app-name">CRSN</h1>
  <p class="app-name">Community Ride Share Network</p>

  <div class="login-menu">
      <%= link_to "Login as Admin", new_user_session_path, :class => 'btn btn-success', id: "admin-login" %>
      <!-- < link_to "Login as Rider", new_rider_session_path, :class => 'btn btn-success', id: "rider-login" %> -->
  </div>

</div>
