<p>
  Hi <%= @driver.first_name %>,
</p>

<p>
  You have been signed up as a new volunteer driver for <%= @driver.organization.name %>.
</p>

<p style="font-variant: normal;">
  YOUR PASSWORD: <%= @driver.password %>
</p><br/>

<p>
  Thank you for volunteering with us!
</p>
