<div class="container" id="privacy">
  <div class="row">
    <h2>Contact us</h2>
    <p>If you are having problems or need support for this app please email <%= mail_to("dev@codethedream.org") %>. Please include a description of the error, the type of device you are using, the operating system, and a screenshot if possible and we will create a ticket. Thank you!</p>

  </div>
</div>
