<% provide(:button_text, 'Update') %>

<div class="container"><br/>


    <div class="card">
        <h5 class="card-header shadow bg-primary info-color text-center ">
            <strong class="text-white">Update Rider</strong>
        </h5>
        <%= render 'form' %>
        <%= render 'bulk_form' %>
        <div class="row">
          <div  class="form-group offset-md-1 col-md-10">
            <%= link_to 'Back', riders_path, class: "btn btn-primary" %>
          </div>
        </div>

    </div>
</div>
