<div class="container"><br/>


    <div class="card">
        <h5 class="card-header shadow bg-primary info-color text-center ">
            <strong class="text-white">Update Rider</strong>
        </h5>
        <%= render 'form' %>
        <div>
            <%= render 'bulk_form' %>
        </div><br/>
    </div>
    <div>
        <%= link_to 'Back', riders_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
    </div>
</div>

<% if false %>
<% link_to 'Back', riders_path %>
<% end %>