<div class="container">


    <div class="card">

        <h5 class="card-header shadow bg-primary info-color text-center ">
        <strong class="text-white">Edit Rider</strong>
        </h5><%= render 'form' %>
    </div>
</div>

<!-- <%=# link_to 'Back', riders_path %>