<div class="schedules">
  <% @events.each do |e| %>
    <div class="ml-5 schedule_windows">
      <div class="row rows">
        <div class="col-sm border-top border-bottom schedules">
          <div class="col-md-6">
            <p><b>Event location:</b> <%= e.first %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
