<% provide(:button_text, 'Create') %>

<div class="container"><br/>


  <div class="card">

    <h5 class="card-header shadow bg-primary info-color  text-center ">
      <strong class="text-white">New Driver</strong>
    </h5><%= render 'form' %>


  </div>
</div>
