/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flatpickr
 *= require flatpickr/material_blue
 */

 $theme-colors: (
  "primary" : #17a2b8,
  "green" : #1EAA70,
  "creamOffwhite" : #fcfcf6,
  "darkgray" : #475c67,
  "lightergray" : #8ea0ad
  );
 @import "bootstrap";
 @import "font-awesome"; // main background color

 form-group {
   background-color: orange;
 }

body {
  background-color: PapayaWhip;
  background-image: url("lightblue_car.jpg");
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 100%;
}

.login-menu {
  display: inline-flex;
  flex-direction: row;
  align-content: space-evenly;
}

#rider-login {
  margin-left: 25px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin-right: 90px;
}

.add {
  margin-right: 50px;
}

.rowBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links{
  max-height: 8px;
}

#flex-box {
  display: flex;
  flex-direction: column;
}

.bg-light {
  background-color: #ff8262 !important;
  height: 47px;
}

.sessions a {
  color: black;
}

.jumbotron {
  margin: 25px;
  background-color: lightgray;
}

.navbar-collapse ul li {
  font-weight: lighter;
}

.navbar-collapse ul li.active {
  background-color: #cfdce4;
}

.sessions a {
  font-weight: lighter;
}

.sessions a:hover {
  background-color: #cfdce4;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th, td {
  text-align: left;
  font-size: 90%;
}

th {
  background-color: #17a2b8;
  color: white;
}

.table th, .table td {
  padding: 0.50rem;
  vertical-align: inherit;
  border-top: none;
}

td.my-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

td.my-buttons a {
  margin-left: 15px;
}

.card {
  background-color: #F5F5F5;
  border-radius: 8px;
}

.card2 {
  border: solid lightgray 1px;
  border-radius: 5px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 3px;
}

.card3 {
  background-color: #ffffff;
  // border: solid #17a2b8 3px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.card4 {
  position: relative;
  height: 240px;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 6px;
  margin-right: 45px;
}

.card4:hover .btn {
  display: block;
}

.bg-primary {
  color: white;
  margin-right: -1px;
  margin-bottom: .75px;
}

h3.headings {
  margin-top: -1px;
  padding: 2px 2px 4px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ml-5, .mx-5 {
  margin-right: 3rem !important;
}

.driver-show-page-buttons {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.car-buttons {
  padding: 8px;
  display: flex;
}

.car-buttons .btn {
  margin-right: 15px;
  display: none;
}

.row5 {
  display: flex;
  flex-direction: row;
  margin-right: 1px;
  border-bottom: solid #17a2b8 2px;
}

a#navbarDropdown {
  color: white;
}

.dropdown-menu a {
  color: black;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: yellow;
}

td.no-wrap {
  white-space: nowrap;
}


#section3 {
  padding-top: 20px;
}

p.car-info {
  text-align: center;
  font-size: 20px;
  border-bottom: solid lightgray 1px;
  padding: 10px;
}

.car-other-info {
  margin-left: 20px;
  padding-bottom: 5px;
}

.flex-row {
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  padding-left: 45px;
}

.flex-row > [class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row .caption,
.flex-row .thumbnail {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    position: relative;
}

.flex-text {
    flex-grow: 1;
}

.admin-ride {
  margin-top: 15px;
  background-color: #fcfcf6;
  padding: 15px;
}

// Agenda

.schedules {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 8px;
}

.schedules .row {
  margin-left: 90px;
  padding: 5px;
  color: gray;
}

.agenda {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  padding-bottom: 15px;
}

.day-and-date {
  display: flex;
  flex-direction: column;
  margin-right: 3px;
  padding: 5px;
}

.time-and-address {
  background-color: #ff8262;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.schedules .gray-banner {
  background-color: #8ea0ad;
  height: 50px;
  width: 100%;
  padding-top: 11px;
  padding-left: 15px;
  margin-top: 10px;
  color: white;
}

.start-end {
  display: flex;
  flex-direction: row;
  margin-top: 1px;
}

.start-end p {
  margin: 15px;
}

p.submit {
  margin-top: 40px;
  border: solid 2px white;
}

// Styleing riders show page
#rider-activation{
  height: 33px;
  border: solid .5px white;
  border-radius: 6px;
}

#driver-activation {
  width: 100px;
  border: solid .5px white;
  border-radius: 6px;
}

.card5 {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: white;
  max-width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.text-white {
  text-align: center;
}

h1.app-name {
  font-family: Impact, sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  word-spacing: 2px;
  color: black;
  text-decoration: none;
  font-style: normal;
  text-shadow: 3px 3px 3px SteelBlue;
}

h1.welcome {
  margin-right: 15px;
  font-size: 25px;
  color: SteelBlue;
  text-decoration: none;
  font-style: normal;
  text-align: right;
  text-shadow: 3px 3px 3px lightblue;
}

#welcome {
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  height: 170px;
  border: solid 3px #254855;
}

#my-button {
  padding-top: 1px;
  padding-bottom: 1px;
}

a.nav-link {
  padding-bottom: 15px;
}


tr th.row-height {
  line-height: 4px;
}

th .dropdown-menu a {
  padding: 10px;
}

tr th.table-heads {
  padding-top: 20px;
}

.form-control[readonly] {
  background-color: #FFF;
}

.table tr:hover {
  cursor: pointer;
}
