/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 $theme-colors: (
  "primary" : #17a2b8,
  "green" : #1EAA70,
  "creamOffwhite" : #fcfcf6,
  "darkgray" : #475c67,
  "lightergray" : #8ea0ad
  );
 @import "bootstrap";
 @import "font-awesome"; // main background color

 form-group {
   background-color: orange;
 }

body {
  background-color: #ffffff;
  background-image: url("background-image.png");
  width: 100%;
  position: absolute;
  height: 100%;
}

.login-menu {
  display: inline-flex;
  flex-direction: row;
  align-content: space-evenly;
}

#rider-login {
  margin-left: 25px;
}

.border-bot {
  border-bottom: inset 1px #17a2b8;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin-right: 90px;
}

.add {
  margin-right: 50px;
}

.rowBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links{
  max-height: 8px;
}

#flex-box {
  display: flex;
  flex-direction: column;
}

.bg-light {
  background-color: #ff8262 !important;
}

.sessions a {
  color: black;
}

.jumbotron {
  margin: 25px;
  background-color: lightgray;
}

.navbar-collapse ul li:hover {
  background-color: white;
}

.sessions a:hover {
  background-color: white;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #17a2b8;
  color: white;
}

.table tr {
  border: solid darkgray 1px;
  background: white;
}

.table th, .table td {
  padding: none;
  vertical-align: none;
  border-top: none;
}

td.my-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

td.my-buttons a {
  margin-left: 15px;
}

.card {
  border: solid #17a2b8 3px;
  border-radius: 6px;
}

.card2 {
  border: solid #17a2b8 2px;
  border-radius: 5px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 3px;
}

.card3 {
  border: solid #17a2b8 3px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.bg-primary {
  color: white;
  margin-right: -1px;
}

.bg-primary i {
  margin-left: 40px;
}

h3.headings {
  margin-top: -1px;
  padding: 0 4px 4px 4px;
}

.ml-5, .mx-5 {
  margin-right: 3rem !important;
}

.schedules {
  display: flex;
  justify-content: space-evenly;
}

.driver-show-page-buttons {
  margin-bottom: 10px;
  margin-top: 5px;
}

.row5 {
  display: flex;
  flex-direction: row;
  margin-right: 1px;
  border-bottom: solid #17a2b8 2px;
}

a#status {
  margin-top: -8px;
  color: white;
}

.dropdown-menu a {
  color: black;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: yellow;
}

td.no-wrap {
  white-space: nowrap;
}
